@model  List<Front.Models.Noticias>

@{
    ViewBag.Title = "Org. Internacionales";
}

<div class="row">

    @foreach (var _noticia in Model)
    {
        @Html.Partial("_Noticia", _noticia)
    }

</div>