@model  List<Front.Models.Noticias>

@{
    ViewBag.Title = "Prevención de Riesgos";
}

<div class="row">

    @foreach (var _noticia in Model)
    {
        @Html.Partial("_Noticia", _noticia)
    }

</div>