
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Noticias</h2>


<button type="button" class="btn btn-success" onclick="waitingDialog.show('esto es una prueba')">Cargando</button>

<button type="button" class="btn btn-success" onclick="waitingDialog.show()">Cargando 2</button>




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loadingModal">
    Open modal
</button>


<div class="modal" id="loadingModal">
    <div class="modal-dialog">
        <div class="modal-content">         

            <!-- Modal body -->
            <div class="modal-body">
                <h3>Cargando ...</h3>
                <i class="fas fa-spinner fa-pulse fa-3x"></i>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>
</div>