@model Back.Models.Menu

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Noticias</h2>


@using (Html.BeginForm("SubirMenuItems", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    @*@Html.TextBoxFor(model => model.IconoFile, "", new { type = "file" }))*@

    @Html.TextBoxFor(model => model.IconoFile,"", new { type = "file" })





    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Guardar">
    </div>

}


<hr />
<button type="button" class="btn btn-success" onclick="waitingDialog.show('esto es una prueba')">Cargando</button>

<button type="button" class="btn btn-success" onclick="waitingDialog.show()">Cargando 2</button>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loadingModal">
    Open modal
</button>


<div class="modal" id="loadingModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <h3>Cargando ...</h3>
                <i class="fas fa-spinner fa-pulse fa-3x"></i>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>
</div>
